<h1>
    User sign in page
</h1>


<form  action="/users/create-session" method="POST">

    <!-- <input type="text" name="name" placeholder="YOUR NAME" required> -->
    <input type="email" name="email" placeholder="YOUR EMAIL" required>
    <input type="password" name="password" placeholder="PASSWORD" required>
    <!-- <input type="password" name="confirm_password" placeholder="CONFIRM PASSWORD" required> -->

    <input type="submit" value="Sign In">

</form>